--extra-index-url https://download.pytorch.org/whl/cpu
einops
gradio
kornia
lpips
numpy
opencv-python
pandas
pillow
ptflops
pyiqa
pytorch-msssim
PyYAML
scikit-image
scipy
torch
torchaudio
torchvision
tqdm
wandb